.main {
  flex-grow: 1;
  float: left;
  height: 100%;
}
.container {
  display: block;
  height: calc(100% - 72px);
  width: calc(100% - 24px);
  margin: 0 auto;
  margin-left: 24px;
  overflow-y: auto;
}