.default {
  padding: 8px;
  border: none;
}

.default:hover {
  cursor: pointer;
  color: rgb(69, 124, 141);;
}

.border {
  padding: 8px;
  border: 2px solid #666;
  border-radius: 6px;
}

.border:hover {
  cursor: pointer;
  background-color: rgb(98, 177, 201);
  border-color: rgb(69, 124, 141);
  color: white;
}
